.mat-dialog-content {
    overflow: hidden;
}

.mat-form-field {
	display: block;
}

.button {
	display: block;
	margin: 10px auto;
}

.mat-dialog-container {
	overflow: hidden;
}
tcc-dialog-user {
	position: relative;
	display: block;
	/*min-height: 272px;*/
}